//public
.layout{
    margin: 0 auto;
    width: 1070px;
}
body{
    font-size: 1px;
  
}
input{
    outline:none;
}
.clearfix{
    zoom:1;
}
.clearfix:after{
    content:'';
    display: block;
    clear: both;
    overflow: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
em,i{
    font-style: normal;
}
a{
    cursor: pointer;
    color: #333;
}
/* end public*/

//header
header{
    min-width: 1070px;
    .hd-bar{
        width: 100%;
        height: 30px;
        line-height:30px;
        background: #f4f4f4;
        border-bottom: 1px solid #e5e5e5;
        .hd-left a{
            display: inline-block;
            padding: 0 10px;
            height: 30px;
            margin-right:10px;
            &.hd-locatiion{
                color: #666;
            }
            &:hover{
                color: #ff4040;
            }
            span{
                padding-left: 3px;
            }
            &.hd-callboard{
                color: #333;
            }
            i{
                 color: #ff4040;
            }
        }
        .hd-right{
            li{
                float: left;
                line-height: 30px;
                a{
                    display: inline-block;
                    height: 30px;
                    padding:0 10px;
                    color: #333;
                    &:hover{
                        color:#ff4040;
                    }
                }
                &.hd-login a{
                    color:#ff4040;
                    padding: 0;
                }
                
            }
            
        }
        
    }
    .hd-white{
       height: 180px;
       position: relative;
       background: #fff;
       .hd-logo{
           position: absolute;
           width: 300px;
           height: 140px;
           line-height: 140px;
           .hd-logoimg{
               float: left;
               display: inline-block;
               width: 140px;
               height: 140px;
               img{
                   width: 100%;
                   height: 100%;
               }
           }
           .hd_slogan{
               margin-top: 25px;
               float: left;
               display: inline-block;
               width: 160px;
               height: 90px;
               img{
                   width: 100%;
                   height: 100%;
               }
           }
       }
       .hd-search-wrap{
           width: 650px;
           padding-top: 60px;
           .hd-search{
               position: relative;
               span{
                   position: relative;
                    display:inline-block;
                    border-radius:100px;
                    border: 1px solid #e2e2e2;
                    width:510px;
                   input{
                       padding-right:34px ;
                       padding-left:30px ;
                       color: #333;
                       line-height: 38px;
                       height: 38px;
                       width: 446px;
                       background: #fcfcfc;
                       border: none;
                       border-radius: 100px;
                       
                   }
                   i{
                       font-size: 24px;
                       color: #666;
                        position: absolute;
                        right:11px;
                        top: 0;
                        height: 38px;
                        line-height: 38px;
                        
                   }
                   &:hover{
                         border-color:#ff4040 ;
                    }
                }
                .hd-btn{
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                    display: inline-block;
                    width: 120px;
                    height: 20px;
                    padding: 9px 0 9px;
                    border: 1px solid #e2e2e2;
                    border-radius:100px ;
                    background: #fff;
                    text-align: center;
                    font-size: 16px;
                    line-height: 20px;
                    &:hover{
                        background:#fcfcfc ;
                    }
                   i{
                      font-size: 18px;
                      margin-right: 6px;
                   }
                }
                .search-list{
                    display:none;
                    position: absolute;
                    width: 426px;
                    padding:10px;
                    border: 1px solid #E1E1E1;
                    line-height: 25px;
                    left: 30px;
                    background:#fff ;
                    z-index: 333;
                    ul{
                        li{
                            border-bottom: 1px dashed #E1E1E1;
                            &:hover{
                                color: #FF3C3C;
                            }
                        }
                    }
                }
                
           }
           .searchSuggest{
               height: 20px;
               padding-top: 8px;
               padding-left: 32px;
               overflow: hidden;
               line-height: 20px;
               a{
                   padding: 0 5px;
                   font-size: 12px;
                   color: #aaaaaa;
                   &:hover{
                        color:#ff4040;
                   }
               }
           }
       }
       .hd-nav{
           height: 38px;
           margin-top: 15px;
           line-height: 38px;
        .nav-list{ 
               li{
                    float: left;
                    font-size:16px;
                    color: #333;
                   &.nav-item{
                        margin-left: 30px;
                        a:hover{
                            color: #FF4040;
                        }
                   }
                   &.allmenu{
                       position: relative;
                       margin-left:0 ;
                       background:#ff4040;
                       color: #fff;
                       text-align: center;
                       cursor: pointer;
                       span{
                           margin:0 13px;
                       }
                       i,em{
                           color: #fff;
                       }
                     
                   }
                   .menu-wrap{
                       display: none;
                       background: #fff;
                       position: absolute;
                       top: 38px;
                       left: 0px;
                       height: 358px;
                       width: 1068px;
                       padding: 24px 0;
                       border: 1px solid #ff4040;
                       z-index: 999;
                       .column-item{
                           color: #666666;
                           width: 155px;
                           float: left;
                           padding-left: 22px;
                           border-right:1px solid #e9e9e9 ;
                           .category-item{
                               height: 175px;
                               text-align: left;
                               p{
                                   line-height: 19px;
                                   padding-bottom: 12px;
                                   white-space: nowrap;
                                   overflow: hidden;
                                   text-overflow: ellipsis;
                                   font-weight: bold;
                               }
                               li{
                                   line-height: 16px;
                                   width: 50%;
                                   float: left;
                                   margin: 0;
                                   font-size: 12px;
                                   a:hover{
                                       color: #FF4040;
                                       font-weight: bold;
                                   }
                               }
                           }
                       }
                   }
               }
           }  
       }
    }
}
footer{
    .ft-server-show{
        padding: 30px 0;
        border-bottom: 1px solid #ebebeb;
        display: flex;
        flex: 1;
        justify-content: space-between;
        a{
            display: block;
            width: 205px;
            img{
                width: 66px;
                height: 66px;
                margin-right: 15px;
                float: left;
            }
            h4{
                font-size: 16px;
                margin-top: 10px;
            }
            span{
                color: #999;
                line-height: 26px;
            }
        }
    }
    .ft-server-link{
        padding: 20px 0 20px;
        color: #666;
        .ft-help{
            padding-left: 15px;
            float: left;
            dl{
                float: left;
                width: 195px;
                display: block;
                dd{
                  height: 24px;
                  padding: 0 8px;
                  line-height: 24px;
                  font-size: 12px;  
                }
            }
        }
        .ft-code{
            float: right;
           div{
               float: left;
               &.ft-app{
                   margin-right: 50px;
               }
               a img{
                   width: 90px;
                   height: 90px;
               }
           }
            
        }
        .fd-title{
            font-size: 14px;
            height: 32px;
            padding: 0 8px;
            font-weight: bold;
            line-height: 32px;
            overflow: hidden;
            font-size: "Microsoft YaHei";
        }
    }
    .copyright{
        .ft-link{
            margin: 15px 0;
            a{
                text-align: center;
                margin: 0 3px;
                &ï¼šhover{
                    color: #ff4040;
                }
            }
        }
        p{
            text-align: center;
            color: #333333;
        }
        .ft-imglink{
            padding: 10px 0 20px;
            text-align: center;
            a{
                display: inline-block;
                margin: 0 3px;
                
            }
        }
    }
}

